.shopcategory {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px; /* keeps items from touching edges */
  box-sizing: border-box;
  overflow-x: hidden;
}

.shopcategory-banner {
  display: block;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.shopcategory-indexsort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.shopcategory-sort{
  padding: 2px 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.shopcategory-sort img{
  width: 10px;
  height: 12px;
}

.shopcategory-indexsort p span {
  font-weight: 600;
}

.shopcategory-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* responsive grid */
  gap: 40px 40px;
  margin: 40px 0;
  width: 100%;
  box-sizing: border-box;
}
