.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #284267 0%, #e1ffea22 60%);
    border-radius: 20px;
  }
  
  .offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .offers-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1;
  }
  
  .offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
  }
  
  .offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .offers-left button:hover {
    background: #d63737;
  }
  
  .offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  
  .offers-right img {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
  }
  
  /* --- Responsive Queries --- */
  
  /* Laptop screens */
  @media (max-width: 1280px) {
    .offers {
      width: 80%;
      padding: 0 100px;
    }
    .offers-left h1 {
      font-size: 70px;
    }
  }
  
  /* Tablets and smaller laptops */
  @media (max-width: 1020px) {
    .offers {
      flex-direction: column;
      height: auto;
      text-align: center;
      width: 85%;
      padding: 60px 40px;
    }
    .offers-left {
      align-items: center;
    }
    .offers-left h1 {
      font-size: 60px;
    }
    .offers-left p {
      font-size: 20px;
    }
    .offers-right img {
      max-width: 300px;
      margin-top: 30px;
    }
  }
  
  /* Tablets and large phones */
  @media (max-width: 800px) {
    .offers {
      width: 90%;
      padding: 40px 20px;
    }
    .offers-left h1 {
      font-size: 46px;
    }
    .offers-left p {
      font-size: 18px;
    }
    .offers-left button {
      width: 230px;
      height: 60px;
      font-size: 18px;
    }
  }
  
  /* Mobile phones */
  @media (max-width: 500px) {
    .offers {
      width: 95%;
      padding: 30px 10px;
    }
    .offers-left h1 {
      font-size: 34px;
    }
    .offers-left p {
      font-size: 16px;
    }
    .offers-left button {
      width: 180px;
      height: 50px;
      font-size: 16px;
    }
    .offers-right img {
      max-width: 240px;
    }
  }
  