.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    padding: 60px 20px;
  }
  
  .popular h1 {
    color: #000;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
  }
  
  .popular hr {
    width: 200px;
    height: 2px;
    border-radius: 10px;
    background: #252525;
  }
  
  .popular-item {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  